<div id="content">
	<div class="content-box">
		<div class="content-holder">
			<div class="content-box">
				<%= form_for @task, :url => {:action => :create}, :html => {:class => 'content-form', :id => 'create_task_form'} do |f| %>
					<fieldset>
						<%= f.hidden_field :task_list_id %>
						<%= f.hidden_field :user_id %>
						<%= f.hidden_field :created_by %>
						<%= f.hidden_field :priority %>
						<%= f.hidden_field :completed %>
						
						<%= render "fancy_form", :f => f %>
						<div class="row">
							<a class="btn-action" onclick="document.forms[0].submit();" id="submit_form">Create</a> 
						</div>
					</fieldset>
				<% end %>
			</div>
		</div>
	</div>
</div>